@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width:768px){
    .figure{
        width: 20rem;
        height: 20rem;
    }
    .carta-descripcion{
        width: 317px;
        height: 183px;
    }
}